<h1>Dogs in the Database</h1>
<% @dogs.each do |d| %> <!-- Iterates through each dog under the variable u -->
  Name: <p> <%= link_to d.name, dog_path(d) %> </p> <!-- Show the dogs name-->
  Age : <p> <%= d.age %> </p> <!-- Show the dogs email -->
<% end %>
<%= link_to "new", dogs_new_path %> <!-- Create a link that appears as "new" that leads to dogs_new_path -->
